.form{
    display: flex; 
    justify-content: space-between; 
}

.button:hover {
    background: #2e1648;
    border-color: #2e1648;
}

.button {
    display: inline-block;
    height: 44px;
    padding: 0 25px;
    box-sizing: border-box;
    border-radius: 0;
    background: #5a24fb;
    border: 2px solid #5a24fb;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    -ms-transform: none;
    transform: none;
    box-shadow: 6px 6px 0 0 #d1e5fe;
    transition: background .3s,border-color .3s,color .3s;
}

.input{
    width: 100%; 
    display: inline-block; 
    margin-right: 1%; 
}